.loginForm{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: fit-content;
    position: absolute;
    left:50%;
    top:20%;
    transform: translate(-50%,-50%);
    border: 2px solid black;
}